div.Tooltip {	
    position: absolute;			
    text-align: left;							
    padding: 10px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
}

svg {
    width: 700; 
    height: 350;
    background-color: #92d1c9;
    display: block;
}

text.legend {
    font-size: 11px;
    text-anchor: end;
}

text.label {
    opacity: 1.0;
    stroke-width: 4px;
    dominant-baseline: middle;
    text-anchor: middle;
}